@import "_header";
@import "_index1";
@import "_subindex";
@import "_footer";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: '微软雅黑';
  background: #f5f8fa;
}
.clearfix:after{
  content: '';
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
  color: #000;
}
img{
  border: 0;
  vertical-align: middle;
}
