<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="//at.alicdn.com/t/font_726487_3sy4fhlfxqf.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/jquery2.1.4.min.js"></script>
</head>
<body>
<div id="root"></div>

<script>

    //服务器token失效,自动跳转到登录
    (function ($) {
        var _ajax = $.ajax;
        $.ajax = function (opt) {
            var fn = {
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                },
                success: function (data, textStatus) {
                }
            };
            if (opt.error) {
                fn.error = opt.error;
            }
            if (opt.success) {
                fn.success = opt.success;
            }
            var _opt = $.extend(opt, {
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    fn.error(XMLHttpRequest, textStatus, errorThrown);
                },
                success: function (data, textStatus) {
                    var tempData = ((typeof data ) == 'string') ? eval('(' + data + ')') : data;

                    if (tempData.code == 10114 || tempData.code == 10115) {//这里判断token是否过期，10114，10122代表token过期
                        window.location.href = '/login';
                    }

                    fn.success(data, textStatus);
                }
            });
            _ajax(_opt);
        };
    })(jQuery);
</script>

<script src=<%= bundle %> ></script>
</body>
</html>